
@import "meltline/src/variables.less";
@import "meltline/src/method.less";

:root {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --primary-color: #ffffff;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--primary-color);
  font-size: 14px;
}

// 色定義
.define-color-by-object(primary, #0076D0);

// hover
[class^='hover-'], [class*=' hover-'] {
  .transition-128;
}

.define-hover(bg-light, {
  background-color: rgba(255, 255, 255, 0.1);
});

// other
.transition-128 {
  transition: 128ms;
}
