@import "meltline/src/variables.less";
@import "meltline/src/method.less";

:root {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --primary-color: #ffffff;
}

html, body {
  height: 100%;
}

body {
  background-color: rgb(250, 248, 245);
  font-size: 14px;
}

// 色定義
.define-color-by-object(primary, #0076D0);

// hover
[class^='hover-'], [class*=' hover-'] {
  .transition-128;
}

.define-hover(bg-light, {
  background-color: rgba(255, 255, 255, 0.1);
});

// other
.transition-128 {
  transition: 128ms;
}

.box-shadow {
  box-shadow: 0 2px 6px 0 rgba(0,0,0, 13%);
}


// button
.button {
  &.primary {
    .border-primary;
    .bg-primary;
    &:hover {
      transition: 128ms;
    }
  }
}